.sub-head{
    color: #0074D9;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
.sub-head1{
    color: #0074D9;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-top: 25px;   
    font-weight: 500;
}
#in-box{
    border: 1px solid black;
}
.disp-p{
    color: rgb(164, 164, 164);
    font-size: 25px;
    font-family: 'Dongle', sans-serif;
    text-align: left;
}
.addmed-top{
    margin-top: 10px;
}
.addmed-top1{ 
    margin-top: 40px;
}
.addmed-btn{
    background: linear-gradient(to bottom, #4cd900, #2fb96d);
    color: white;
    padding: 7px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}
#css{
    margin-left: 30px;
}
#html{
    margin-left: 30px;
}

.addmed-head{
    font-size: 30px;
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
}
#addmed-field{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}
#addmed-field1{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

#addmed-tagline{
    font-size: 18px;
    font-family: 'Secular One', sans-serif;
    font-weight: 200;color: rgb(84, 84, 84);
}
#addmed-reset-red{
    background: linear-gradient(to bottom, #a90202, #b92f2f);
    color: white;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    margin-top: 19px;
}
.newrow-btn{
    margin-top: 10px;
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 8px;
    border-radius: 5px;
    font-family: 300px;
    font-family: 'Secular One', sans-serif;

}

.dsbg{
    background-image: url('../../assets/images/background.jpg');
    height: 110vh;
}
.ds-form{
 margin-top: 60px;
 height: 600px;
 width: 600px;
 border: 1px solid rgb(88, 172, 98);
 background-color: white;
 border-radius: 10px;
}
.ds-form-discharge{
 margin-top: 60px;
 height: 650px;
 width: 600px;
 border: 1px solid rgb(88, 172, 98);
 background-color: white;
 border-radius: 10px;
}