.content-title{
    margin-top: 40px;
    text-align: center;
    font-size: large;
    font-weight: 500;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 70px;
}
#fname1{
    border:1px solid rgb(58, 58, 58);
    margin:20px 20px 20px 20px;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}
.image1{
    margin-top: 20px;
    height: 300px;
    width: 400px;
}
.bookbtn{
    width: 200px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
#box{
    border: 1px solid black;
    border-radius: 5px;
}
.bookbtn:hover{
    background-color: rgb(68, 7, 104);
    color: rgb(255, 255, 255);
}
@media only screen and (max-width: 600px) {
    .image1{
        display: none;
    }
  }